<div class="jumbotron bg-success p-5">
    <h1 class="display-3 text-dark">Welcome to the Tea Shop.</h1>
  </div>
<div class="container">
  <h1 class="text-dark">Our selection of fine teas</h1>
  <div class="card-columns teasList" *ngIf="teasList">
    <div class="card text-center tea border-dark" *ngFor="let tea of teasList">
      <ng-container *ngIf="tea.imageUrl">
        <img src="{{tea.imageUrl}}" class="card-img-top" alt="Image of {{tea.name}}" />
      </ng-container>
      <h5 class="card-title bg-dark p-2"><a href="/tea/{{tea._id}}" class="text-success">{{tea.name}}</a></h5>
      <p class="card-text text-dark pb-2"><em>~{{tea.kind}}~</em></p>
    </div>
  </div>
</div>